<div style="height: 100vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Controle Financeiro</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>

  </mat-toolbar>

  <mat-sidenav-container fxFlexFill color='primary'>
    <mat-sidenav #sidenav>
      <div>
        <button (click)="sidenav.toggle()" href="#" mat-button>
          <mat-icon>close</mat-icon>
        </button><br><br>
        <a href="#" mat-button>Resumo</a>
        <a href="#" mat-button>Dashboard</a>
        <a href="#" mat-button>Configurações</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md">
            <app-form></app-form>
          </div>
          <div class="col-lg-6 col-md">
            <app-table></app-table>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<router-outlet></router-outlet>
