table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.negative {
  color: rgb(219, 55, 55);
}
.positive {
  color: rgb(45, 194, 52);
}
mat-label {
  text-align: center;
}

.separator {
  display: none;
}

@media (max-width: 600px) {
  .separator {
    width: 100%;
    display: inline-block;
    border-top: 1px solid #ccc;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
